body {
  background: var(--background-color);
  color: var(--foreground-color);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.15rem;
  line-height: 1.25;
  font-weight: 300;
  font-style: normal;
}